
<div  style="background-color: #E7A2A2;">
  <ion-card  style="background-color: #E7A2A2;">
    <div class="text-center"> <img style="background-color: #E7A2A2;"src="../../../assets/icon.png" alt=""> </div>
    <ion-card-header>
      <ion-card-title class="text-center" style="color: whitesmoke;">Tabla didáctica</ion-card-title>
    </ion-card-header>
    <div class="col-12">
      <ion-chip (click)="Sereneis()">
        <ion-icon name="globe-outline" color="secondary"></ion-icon>
        <ion-label>Usuario 1</ion-label>
      </ion-chip>
    </div>

    <div class="col-12">
<ion-chip (click)="Irina()">
  <ion-icon name="globe-outline" color="secondary"></ion-icon>
  <ion-label>Usuario 2</ion-label>
</ion-chip>
</div>
<div class="col-12">
<ion-chip (click)="Denu()">
  <ion-icon name="globe-outline" color="secondary"></ion-icon>
  <ion-label>Usuario 3</ion-label>
</ion-chip>
</div>

    <form [formGroup]="formulario" (ngSubmit)="Loguear()">
        <ion-item color="#71c1e8">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" class="formControl"  formControlName="Email" required></ion-input>
        </ion-item>

        <span class="text-danger" *ngIf="formulario.get('Email')?.hasError('required') && formulario.get('Email')?.touched">El Email es requerido.</span> 
        <span class="text-danger" *ngIf="formulario.get('Email')?.hasError('pattern') && formulario.get('Email')?.touched">El Email debe tener x.</span>
      
        <ion-item color="#71c1e8">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" class="formControl" formControlName="Password" required></ion-input>
        </ion-item>
      
       <span class="text-danger" *ngIf="formulario.get('Password')?.hasError('required') && formulario.get('Password')?.touched">La contraseña es requerida.</span>  
     
      <!-- <ion-button size="small" color="warning" type="submit" shape="round" expand="block" [disabled]="formulario.invalid">Logueate</ion-button> -->
      <ion-button type="submit" expand="block" [disabled]="formulario.invalid">
        <ion-icon name="enter-outline" size="large" ></ion-icon>
      </ion-button>
      
  </form>
  </ion-card>
  
</div>
