<ion-content>


  <ion-fab vertical="top" horizontal="start" slot="fixed" class="ios fab-horizontal-start fab-vertical-top hydrated">
    <!-- <ion-fab-button color="secondary" class="ion-color ion-color-secondary ios ion-activatable ion-focusable hydrated">
      <img style="width: 75px" src="../../../assets/idioma.png">
    </ion-fab-button> -->
    <ion-fab-button color="secondary" class="ion-color ion-color-secondary ios ion-activatable ion-focusable hydrated" *ngIf="this.idioma=='ingles'">
      <img style="width: 75px" src="../../../assets/USA.png">
    </ion-fab-button>
    <ion-fab-button color="secondary" class="ion-color ion-color-secondary ios ion-activatable ion-focusable hydrated" *ngIf="this.idioma=='portugues'">
      <img style="width: 75px" src="../../../assets/brasil.png">
    </ion-fab-button>
    <ion-fab-button color="secondary" class="ion-color ion-color-secondary ios ion-activatable ion-focusable hydrated" *ngIf="this.idioma=='espaniol'">
      <img style="width: 75px" src="../../../assets/espania.png">
    </ion-fab-button>
    <ion-fab-list side="end" class="ios fab-list-side-end hydrated">
      <ion-fab-button (click)="selectEspaniol()" color="light" class="ion-color ion-color-light ios fab-button-in-list ion-activatable ion-focusable hydrated">
        <img style="width: 55px; background-color: #3dc2ff;" src="../../../assets/espania.png">
      </ion-fab-button>
      <ion-fab-button (click)="selectPortugues()" color="light" class="ion-color ion-color-light ios fab-button-in-list ion-activatable ion-focusable hydrated">
        <img style="width: 55px; background-color: #3dc2ff;" src="../../../assets/brasil.png">
      </ion-fab-button>
      <ion-fab-button (click)="selectIngles()" color="light" class="ion-color ion-color-light ios fab-button-in-list ion-activatable ion-focusable hydrated">
        <img style="width: 55px; background-color: #3dc2ff;" src="../../../assets/USA.png">
      </ion-fab-button>
      
    </ion-fab-list>
  </ion-fab>



    <ion-fab horizontal="end" vertical="top" slot="fixed" class="ios fab-horizontal-end fab-vertical-top hydrated">
      <!-- <ion-fab-button color="secondary" class="ion-color ion-color-secondary ios ion-activatable ion-focusable hydrated">
        <img style="width: 75px" src="../../../assets/losTres.png">
      </ion-fab-button> -->
      <ion-fab-button color="secondary" class="ion-color ion-color-secondary ios ion-activatable ion-focusable hydrated"  *ngIf="this.tema=='colores'">
        <img style="width: 75px" src="../../../assets/colores.png">
      </ion-fab-button>
      <ion-fab-button color="secondary" class="ion-color ion-color-secondary ios ion-activatable ion-focusable hydrated"  *ngIf="this.tema=='numeros'">
        <img style="width: 75px" src="../../../assets/numeros.png">
      </ion-fab-button>
      <ion-fab-button color="secondary" class="ion-color ion-color-secondary ios ion-activatable ion-focusable hydrated"  *ngIf="this.tema=='animales'">
        <img style="width: 75px" src="../../../assets/animales.png">
      </ion-fab-button>
      <ion-fab-list side="start" class="ios fab-list-side-start hydrated">
        <ion-fab-button (click)="selectAnimales()" color="secondary" class="ion-color ion-color-light ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <img style="width: 37px; background-color: #3dc2ff;" src="../../../assets/animales.png">
        </ion-fab-button>
        <ion-fab-button (click)="selectNumeros()" color="secondary" class="ion-color ion-color-light ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <img style="width: 37px; background-color: #3dc2ff;" src="../../../assets/numeros.png">
        </ion-fab-button>
        <ion-fab-button (click)="selectColores()" color="secondary" class="ion-color ion-color-light ios fab-button-in-list ion-activatable ion-focusable hydrated">
          <img style="width: 37px; background-color: #3dc2ff;" src="../../../assets/colores.png">
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>




<!-- ANIMALES -->

<div class="container m-t"  *ngIf="this.tema=='animales'">
  <div class="row">
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item w" src="../../../assets/vaca.png" (click)="selecioneAlgo('vaca')"/> 
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item w"  src="../../../assets/gallina.png" (click)="selecioneAlgo('gallina')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item w"  src="../../../assets/caballo.png" (click)="selecioneAlgo('caballo')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item"  src="../../../assets/pato.png" (click)="selecioneAlgo('pato')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item"  src="../../../assets/oveja.png" (click)="selecioneAlgo('oveja')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item"  src="../../../assets/perro.png" (click)="selecioneAlgo('perro')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item"  src="../../../assets/conejo.png" (click)="selecioneAlgo('conejo')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded  border border-dark bg-info" src="../../../assets/pez.png" (click)="selecioneAlgo('pez')">
    </div>
  
  </div>

</div>

<!-- <div style="margin-top: 27%;" *ngIf="this.tema=='animales'">

    <div class="text-center">
      <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('vaca')">
        <img src="../../../assets/vaca.png" width="70" height="110"/> 
    </button>
    
      <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('gallina')">
        <img src="../../../assets/gallina.png" width="70" height="110"/> 
    </button>
    
      <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('caballo')">
        <img src="../../../assets/caballo.png" width="70" height="110"/> 
    </button>
    </div>

  <div class="text-center">
    <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('pato')">
      <img src="../../../assets/pato.png" width="70" height="110"/> 
  </button>

    <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('perro')">
      <img src="../../../assets/perro.png" width="70" height="110"/> 
  </button>

    <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('gato')">
      <img src="../../../assets/gato.png" width="70" height="110"/> 
  </button>
  </div>

  <div class="text-center">
      <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('conejo')">
        <img src="../../../assets/conejo.png" width="70" height="110"/> 
    </button>

      <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('pez')">
        <img src="../../../assets/pez.png" width="70" height="110"/> 
    </button>

      <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('oveja')">
        <img src="../../../assets/oveja.png" width="70" height="110"/> 
    </button>
  </div> 





</div>  -->
  

<!-- NUMEROS -->
<div class="container m-t"  *ngIf="this.tema=='numeros'">
  <div class="row">
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item w"  src="../../../assets/1.png" (click)="selecioneAlgo('uno')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item w"  src="../../../assets/2.png" (click)="selecioneAlgo('dos')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item w"  src="../../../assets/3.png" (click)="selecioneAlgo('tres')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item"  src="../../../assets/4.png" (click)="selecioneAlgo('cuatro')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item"  src="../../../assets/5.png" (click)="selecioneAlgo('cinco')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item"  src="../../../assets/6.png" (click)="selecioneAlgo('seis')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item"  src="../../../assets/7.png" (click)="selecioneAlgo('siete')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded  border border-dark bg-info" style="width:100%" src="../../../assets/8.png" (click)="selecioneAlgo('ocho')">
    </div>
    <!-- <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded  border border-dark bg-info" style="width:100%" src="../../../assets/9.png" (click)="selecioneAlgo('nueve')"> 
    </div> -->
  
  </div>

</div>
 
  

  
  
  <!-- COLORES -->

  
<div class="container m-t"  *ngIf="this.tema=='colores'">
  <div class="row text-center">
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item w" src="../../../assets/rojo.png" (click)="selecioneAlgo('rojo')"/> 
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item w"  src="../../../assets/azul.png" (click)="selecioneAlgo('azul')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item w"  src="../../../assets/verde.png" (click)="selecioneAlgo('verde')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item"  src="../../../assets/violeta.png" (click)="selecioneAlgo('violeta')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item"  src="../../../assets/amarillo.png" (click)="selecioneAlgo('amarillo')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item"  src="../../../assets/rosa.png" (click)="selecioneAlgo('rosa')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded border border-dark bg-info item"  src="../../../assets/negro.png" (click)="selecioneAlgo('negro')">
    </div>
    <div class="col-4 col-sm-4 col-lg-4 column" >
      <img class="rounded  border border-dark bg-info" src="../../../assets/naranja.png" (click)="selecioneAlgo('naranja')">
    </div>
  
  </div>

</div>


<!-- <div style="margin-top: 27%;" *ngIf="this.tema=='colores'">

  <div class="text-center">
    <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('rojo')">
      <img src="../../../assets/rojo.png" width="70" height="110"/> 
  </button>
  
    <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('azul')">
      <img src="../../../assets/azul.png" width="70" height="110"/> 
  </button>
  
    <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('verde')">
      <img src="../../../assets/verde.png" width="70" height="110"/> 
  </button>
  </div>

<div class="text-center">
  <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('amarillo')">
    <img src="../../../assets/amarillo.png" width="70" height="110"/> 
</button>

  <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('rosa')">
    <img src="../../../assets/rosa.png" width="70" height="110"/> 
</button>

  <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('violeta')">
    <img src="../../../assets/violeta.png" width="70" height="110"/> 
</button>
</div>

<div class="text-center">
  <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('negro')">
    <img src="../../../assets/negro.png" width="70" height="110"/> 
</button>

  <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('blanco')">
    <img src="../../../assets/blanco.png" width="70" height="110"/> 
</button>

  <button class="btn btn-default border-dark bg-info p-3 margin-left" (click)="selecioneAlgo('naranja')">
    <img src="../../../assets/naranja.png" width="70" height="110"/> 
</button>
</div>







</div> -->


  
</ion-content>