ion-content{
    --background:#E7A2A2;
}
.fab {
    width: 100px !important;
    height: 100px !important;
    }

    .margin-left{
        margin-left: 7px !important;
        margin-top: 7px !important;
    }